.contact {
    justify-content: center;
}

.form {
    margin: 20px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    align-content: center;
  }
  
  /* .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
  } */